:root{
--PaleBlue: hsl(243, 100%, 93%);
--GrayishBlue: hsl(229, 7%, 55%);
--DarkBlue: hsl(228, 56%, 26%);
--VeryDarkBlue: hsl(229, 57%, 11%);
--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
body{
    background-color: var(--VeryDarkBlue);
    background-image: url(https://andy-devcode.github.io/fylo-data-storage/assets/bg-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
main{
    min-height: 100%;
    display: grid;
    grid-template-areas: 
    "icons"
    "storage";
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.storage{
    height: 170px;
    min-width: 330px;
    max-width: 375px;
    border-radius: 10px 80px 10px 10px;
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: left;
    padding-left: 10%;
    align-items: center;
    height: 40%;
}
.storage-icons{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items:center;
    padding-left: 10%;
    gap: 10px;
}
.storage-icons div{
    height: 40px;
    width: 40px;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.storage-used{
    background-color: var(--DarkBlue);
    height: 120px;
    min-width: 330px;
    max-width: 375px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: relative;
}
.storage-used>h3{
    color: var(--PaleBlue);
    font-weight: 400;
}
.storage-used>h3 span{
    color: #fff;
}
.storage-used .storage-used--bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.storage-used--bar .bar{
    background-color: hsl(228, 56%, 17%);
    width: 70% ;
    height: 18px;
    border-radius: 50px;
    position: relative;
}
.bar .progress-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(to right, hsl(6, 100%, 80%) 5%, hsl(335, 100%, 65%) 100%);
    width: 70%;
    height: 75%;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 0;
    left: 2.5px;
}
.progress-bar .ball{
    display: inline-block;
    height: 65%;
    width: 8px;
    background-color: var(--PaleBlue);
    border-radius: 50px;
    margin-right: 2.3px;
}
.storage-used--bar .under-text{
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: var(--PaleBlue);
    font-size: 1.1rem;
    font-weight: bold;
}
.storage-left{
    width: 40%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    bottom: -35px;
    left: calc(50% - 22%);
    color: var(--GrayishBlue);
}
.first-text {
    font-size: 26px;
    font-weight: bold;
    color: var(--VeryDarkBlue);
}
.second-text{
    font-size: 10px;
}